@import "../../style/colors/colors.scss";
@import "../../style/colors/functions.scss";

$boxShadowBtn: (
  rgb(0 0 0 / 20%) 0px 3px 1px -2px,
  rgb(0 0 0 / 14%) 0px 2px 2px 0px,
  rgb(0 0 0 / 12%) 0px 1px 5px
);
$textBackgroundBtn: (rgba(74, 101, 126, 0.08));
$outlinedBorder: (2px solid rgba(35, 120, 225, 1.5));

$button_size_mapping: (
  "small": 12px,
  "medium": 14px,
  "large": 18px,
);

$button_padding_list: (8px 15px);

@mixin create_css_properties($name, $value, $css_properties) {
  &.#{$name} {
    @each $css_property in $css_properties {
      @if $css_property == "font-size" {
        #{$css_property}: $value;
      } @else {
        #{$css_property}: $button_padding_list;
      }
    }
  }
}

@mixin create_size_classes($button_size_mapping) {
  @each $size_name, $size in $button_size_mapping {
    @include create_css_properties(
      $size_name,
      $size,
      ("font-size") ("padding")
    );
  }
}

.r-button {
  @include create_size_classes($button_size_mapping);
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  color: white;
  background-color: get-primary($theme);
  border: none;
  border-radius: 7px;
  box-shadow: $boxShadowBtn;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: get-hover($theme);
  }

  &.secondary {
    background-color: get-secondary($theme);
    transition: background-color 0.5s ease;

    &:hover {
      background-color: get-hover-secondary($theme);
    }
  }

  &.error {
    background-color: get-error($theme);

    &:hover {
      background-color: get-hover-error($theme);
    }
  }

  &.text {
    color: get-hover($theme);
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    transition: background-color 0.5s ease;

    &:hover {
      text-decoration: none;
      background-color: $textBackgroundBtn;
    }
  }

  &.outlined {
    border: $outlinedBorder;
    color: get-primary($theme);
    background-color: white;
    transition: background-color 0.5s ease;

    &:hover {
      border-color: get-primary($theme);
      color: white;
      background-color: get-primary($theme);
    }
  }

   &.text &.small {
      font-size: 12px;
  }
}
