@import "../../style/colors/colors.scss";
@import "../../style/colors/functions.scss";
@import "../../style/mixins/css_properties.scss";
@import "./styles/constants.scss";
@import "./styles/mixins.scss";

.r-button {
  cursor: pointer;
  color: white;
  background-color: get-primary();
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow-btn;
  transition: background-color 0.3s ease;
  @include create_size_classes($button-size-mapping);

  &:hover {
    background-color: get-hover();
  }

  &.secondary {
    background-color: get-secondary();
    transition: background-color 0.5s ease;

    &:hover {
      background-color: get-hover-secondary();
    }
  }

  &.text {
    color: get-hover();
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    transition: background-color 0.5s ease;

    &:hover {
      text-decoration: none;
      background-color: $text-background-btn;
    }
  }

  &.outlined {
    border: $outlined-border;
    border-color: get-primary();
    color: get-primary();
    background-color: white;
    transition: background-color 0.5s ease;
    @include create_size_classes($button-outline-size-mapping);

    &:hover {
      border-color: get-primary();
      color: white;
      background-color: get-primary();
    }
  }

  &.text &.small {
    font-size: 12px;
  }
}
